* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  /* display: flex; */
  flex-direction: column;
}

.header {
  background-color: #000000;
  flex-basis: 20%;
  /* width: 100%; */
  /* height: 20vh; */
}

.main {
  background-color: #293764;
  flex-grow: 1;
  /* flex-basis: 20%; */
  /* width: 100%; */
  height: 200px;
}

.footer {
  background-color: #000000;
  flex-basis: 20%;
  /* width: 100%; */
  /* height: 200px; */
}
